-if @programmes == []
  Something's gone wrong, no programmes were loaded
-else
  #info
    Now playing:
    %b
      ="#{@programmes[@now_playing]['title']}"
  #player
    <embed type="application/x-shockwave-flash" src="http://www.bbc.co.uk/emp/9player.swf?revision=10344_10570" style="" id="bbc_emp_embed_bip-play-emp" name="bbc_emp_embed_bip-play-emp" bgcolor="#000000" quality="high" wmode="default" allowfullscreen="true" allowscriptaccess="always" flashvars="embedReferer=&embedPageUrl=#{@programmes[@now_playing]['link']}?t=00m01s&domId=bip-play-emp&config=http://www.bbc.co.uk/emp/iplayer/config.xml&playlist=http://www.bbc.co.uk/iplayer/playlist/#{@programmes[@now_playing]['code']}&holdingImage=http://node2.bbcimg.co.uk/iplayer/images/episode/#{@programmes[@now_playing]['code']}_640_360.jpg&config_settings_bitrateFloor=0&config_settings_bitrateCeiling=2500&config_settings_transportHeight=35&config_settings_cueItem=#{@programmes[@now_playing]['code']}:875&config_settings_showPopoutCta=false&config_messages_diagnosticsMessageBody=Insufficient bandwidth to stream this programme. Try downloading instead, or see our diagnostics page.&config_settings_language=en&guidance=unset" width="640" height="395"> 

  %nav
    %a{:href=>"/"} Next!